export ZEPPELIN_MEM="-Xmx1024m"
export ZEPPELIN_JAVA_OPTS="-Dspark.home={{ spark_usr_dir }}"
export ZEPPELIN_LOG_DIR="{{ zeppelin_log_dir }}"
export ZEPPELIN_PID_DIR="{{ zeppelin_run_dir }}"
export SPARK_HOME="{{ spark_usr_dir }}"